.person-container{
    height: 410px;
    max-width: 334px;
    min-width: 210px;
    border: 1px solid var(--grey-ccc);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .person-img-layer{
        position: relative;
        height: 150px;
        overflow: hidden;
        img {
            height: 100%;
            object-fit: cover;
        }
        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: var(--sky-blue-opacity-8);
            position: absolute;
            top: 0;
            left: 0;
            opacity: .6;
        }
        .prof-edit{
            top: 10px;
            left: 0;
            position: absolute;
            z-index: 1;
            width: 100%;
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            .icon-star{
                width: 18px;
                height: 18px;
                background-color: var(--grey-eee);
                border-radius: 30px;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--grey-999);
            }
            .icon-more{
                color: var(--grey-eee);
                font-size: 18px;
            }
        }
    }
    .person-details{
        min-height: 100px;
        display: flex;
        flex-direction: column;
        align-items:  center;
        margin-bottom: 16px;
        h4{
            font-weight: 500;
            color: var(--black-222);
        }
        p{
            font-size: .9rem;
            color: var(--grey-999);
        }
        .info-box-row{
            width: 100%;
            display: flex;
            justify-content: space-around;
            position: relative;
            margin: 15px 0;
            .info-box{
                flex: 1;
                text-align: center;
                span{
                    font-size: .85rem;
                }
            }
            &::before{
                content: '';
                display: inline-block;
                position: absolute;
                width: 1px;
                height: 100%;
                border-left: 1px dashed var(--grey-ccc);
                left:50%
            }
        }
        button{
            width: 85%;
            height: 40px;
            background-color: var(--grey-eee);
            border: 1px solid var(--grey-eee);
            cursor: pointer;
            border-radius: 2px;
        }
    }
    .person-image{
        width: 110px;
        height: 110px;
        position: absolute;
        background-color: var(--white);
        border: 1px solid var(--grey-eee);
        left:50%;
        transform: translate(-50%, 90%);
        border-radius: 50%;
        padding: 4px;
        overflow: hidden;
        .default-section, img{
            width: 100%;
            height: 100%;
            display: grid;
            place-content: center;
            font-size: 1.2rem;
            color: var(--cyan);
            background-color: var(--grey-fdf);
            border-radius: 50%;
        }
        img{
            object-fit: cover;
        }
    }
}