<nav class="navigationElement">
    <div class="layout-container">
        <ul>
            <li class="active-nav">
                <span class="ic-main material-symbols-outlined">home_app_logo</span>
                Dashboard
                <span class="ic-expand_more material-symbols-outlined">expand_more</span>
            </li>
            <li>
                <span class="ic-main material-symbols-outlined">Group</span>
                Community
                <span class="ic-expand_more material-symbols-outlined">expand_more</span>
            </li>
            <li>
                <span class="ic-main material-symbols-outlined">Widgets</span>
                Pages
                <span class="ic-expand_more material-symbols-outlined">expand_more</span>
            </li>
            <li></li>
        </ul>
    </div>
</nav>