<div class="headerContainer">
    <div class="layout-container">
        <div class="header-ft">
            <div class="logo-elem">Marvel <br> Dashboard</div>
            <div class="searchElement">
                <span class="material-symbols-outlined">search</span>
                <input type="text" name="navSearchElemtent" placeholder="Search..">
            </div>
        </div>

        <div class="header-ft">
            <ul class="icons-sli">
                <li>
                    <span class="material-symbols-outlined">notifications_active</span>
                    <span class="notification_numbers">3</span>
                </li>
                <li><span class="material-symbols-outlined">shopping_basket</span></li>
            </ul>
            <div class="profile-info">
                <div class="profile-img">
                    <img src="/assets/images/family.jpg" name="profile image" />
                </div>
                <div class="prof-details">
                    <p>Gokulan D</p>
                    <span>Executive</span>
                </div>
            </div>
        </div>
    </div>
</div>